@import url("https://fonts.google.com/specimen/Red+Hat+Display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  z-index: -100;
  overflow: hidden;
}

.bottom {
  bottom: 0;
}

section {
  width: 282px;
  height: 437px;
  background-color: #fff;
  border-radius: 20px;
}

.img {
  border-radius: 20px 20px 0 0;
  width: 283px;
  height: 150px;
}

h3 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: 700;
}

p {
  color: #777;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
}

.annual {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 10%;
  margin: 15px 0;
  width: 80%;
  background-color: hsla(225, 100%, 94%, 0.349);
  border-radius: 10px;
  position: relative;
  left: 30px;
}

.music {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 14px;
}

.music p {
  font-size: 10px;
  position: relative;
  /* bottom: -13px; */
  left: -20px;
}

a {
  font-size: 12px;
  transform: translateX(20px);
}
.i {
  left: -30px;
  position: absolute;
  width: 25px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Payment {
  display: block;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 5px 5px 8px rgba(56, 42, 225, 0.5);
}

.Cancel {
  border: none;
  margin-top: 10px;
  color: #777;
  font-weight: 700;
  background-color: #fff;
  font-size: 12px;
}
